#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
out/artifacts/DataCollector_jar/DataCollector.jar
out/production/DataCollector/libs/AnnotatedSentence.jar
out/production/DataCollector/libs/AnnotatedTree.jar
out/production/DataCollector/libs/DataGenerator.jar
out/production/DataCollector/libs/DependencyParser.jar
out/production/DataCollector/libs/MorphologicalAnalysis.jar
out/production/DataCollector/libs/NamedEntityRecognition.jar
out/production/DataCollector/libs/ParseTree.jar
out/production/DataCollector/libs/PropBank.jar
out/production/DataCollector/libs/Translation.jar
out/production/DataCollector/libs/Util.jar
out/production/DataCollector/libs/WordNet.jar
out/production/DataCollector/icons/addparent.png
out/production/DataCollector/icons/backward.png
out/production/DataCollector/icons/clear.png
out/production/DataCollector/icons/delete.png
out/production/DataCollector/icons/edit.png
out/production/DataCollector/icons/fastbackward.png
out/production/DataCollector/icons/fastfastbackward.png
out/production/DataCollector/icons/fastfastforward.png
out/production/DataCollector/icons/fastforward.png
out/production/DataCollector/icons/forward.png
out/production/DataCollector/icons/interlingual.png
out/production/DataCollector/icons/merge.png
out/production/DataCollector/icons/moveleft.png
out/production/DataCollector/icons/moveright.png
out/production/DataCollector/icons/random.png
out/production/DataCollector/icons/save.png
out/production/DataCollector/icons/semanticrelation.png
out/production/DataCollector/icons/split.png
